@charset "utf-8";
body , html{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	background-color: #000;
	position: relative;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.loadingOverlay {
	background-color: #000;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 99999;
}
.floatingWindows {
	overflow: visible;
	position: absolute;
	z-index: 100;
	height: 0px;
	width: 0px;
}

.loadingOverlay h1 {
	margin: 10px;
	padding: 0px;
	color: #FFF;
}


.headerbar {
	background-color: #999;
	background-image: url(../images/stone.png);
	background-repeat: repeat;
	height: 50px;
	width: 100%;
	padding-left: 10px;
}
.navButton {
	margin-top: 5.45px;
}

.content {
	background-image: url(../images/stonebrick.png);
	background-repeat: repeat;
	position: absolute;
	left: 0px;
	top: 50px;
	right: 0px;
	bottom: 0px;
}
.dialogInput {
	display: block;
	margin-left: 0px;
	width: 100%;
}
.itemDialogContainer {
	height: 300px;
	width: 800px;
}
.itemListSearch {
	height: 30px;
}
.itemListIconsContainer {
	height: 260px;
	width: 800px;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.itemListIconsContainer .item {
	width: 64px;
    height: 64px;
    float: left;
    padding: 0;
    border: 3px solid #AAA;
    margin-bottom: 2px;
    margin-right: 2px;
    background-position: center center;
    position: relative;
}

.itemListIconsContainer .item.hidden {
	display: none;
}

.itemListIconsContainer .item:after {
	width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0C0;
    background-image: url(../images/check-16.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    content: "";
}

.itemListIconsContainer .item.selected {
	border-color: #0C0;
}

.itemListIconsContainer .item.selected:after {
	display:block;
}

.itemEditorDialogContainer, .dialogCommand {
	overflow-x: hidden;
    position: relative;
    padding: 8px 15px;
}

.itemEditorDialogContainer .itemEditorInputLine {
	height: 30px;
    position: relative;
    margin: 0;
    margin-top: 5px;
}

.itemEditorDialogContainer .itemEditorInputLine input {
	position: absolute;
    left: 200px;
    right: 0;
    bottom: 0;
    top: 0;
}

.itemEditorDialog .itemEditorInputLine label {
	position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 200px;
    line-height: 30px;
}

.dialogItemSelector {
	width: 100%;
    height: 74px;
    background-color: #bbb;
    overflow-x: hidden;
    cursor: pointer;
}

.dialogItemSelector .item {
	width: 64px;
    height: 64px;
    float: left;
    margin: 5px;
    background-position: center center;
    position: relative;
}

.dialogItemSelector .itemName {
	display: block;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    line-height: 75px;
}
